.details-title {
  line-height: 0.58rem;
  font-size: 0.49rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.details-user-collect-button {
  width: 2.59rem;
  height: 0.64rem;
  line-height: 0.64rem;
  float: right;
  font-size: 0.34rem;
}
.details-article-item .am-card-footer-content {
  font-size: 0.3rem!important;
}
.details-article-body {
  padding: 0.28rem;
}
.details-article-body a {
  display: block;
  word-wrap: break-word;
  width: 100%;
  color: #4078c0;
}
.details-article-body a:hover {
  color: #4078c0;
}
.details-article-body p {
  width: 100%;
}
.details-article-body img {
  margin: auto;
  width: 100%;
}
.details-article-body li {
  list-style: none;
}
.details-article-body code {
  white-space: normal;
  word-break: break-all;
}
.details-article-body h2 {
  background-color: #eee;
  margin: 16px 0;
  padding: 16px;
  font-size: 0.4rem;
}
.details-article-body h1 {
  margin: 0;
  padding-bottom: 16px;
  font-size: 0.54rem;
}
