.ding-text {
  color: red;
  margin-right: 15px;
  font-weight: bold;
}
.jing-text {
  color: blue;
  margin-right: 15px;
  font-weight: bold;
}
.my-list {
  width: 100%;
}
.my-list .am-list-thumb img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.my-list .loading-more-data {
  display: flex;
  justify-content: space-around;
}
/*.am-tab-bar-content .am-tab-bar-tabpane{
  overflow:hidden;
}*/
