.my-drawer {
  overflow: auto;
  position: absolute;
  top: 90px;
}
.my-drawer .am-drawer-content {
  color: transparent!important;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  width: 5rem;
  padding: 0;
}
.nav-bar-login-btn {
  margin-top: 4.5rem;
}
.nav-bar-user-avatar {
  display: flex;
  justify-content: space-around;
  margin: 0.35rem 0;
}
.nav-bar-user-avatar img {
  margin: auto;
  display: block;
  border: 0;
}
.nav-bar-user-info .am-button {
  width: 2.15rem;
}
.nav-bar-user-info .user-publish-title .am-list-content {
  color: #7a7a7a!important;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.3rem;
}
